body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
    background-color: #5f2c82;
}

.c-loader {
    border-radius: 50%;
    animation: is-rotating 1s infinite;
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-top-color: #6cd3cf;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}